<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Feladatkiosztási alkalmazás</title>
</head>
<body>

<form method="POST">
{% csrf_token %}
<div>tanuló neve: <input type="text" name="user"></div>
<div>jelszó: <input type="password" name="pwd"></div>


<table border="1">
	{% for sor in lista %}
		<tr>
		<td>
			{{ sor.0 }}
		</td>
		<td>
			{% if sor.1 == 'nincs' %}
				<input type="submit" value="Elvállalom" name = "{{ sor.0 }}" value = "{{ sor.0 }}">
			{% else %}
				{{ sor.1 }}
			{% endif %}
		</td>
		</tr>
	{% endfor %}
</table>
</form>

</body>
</html>